<ul class="nav-list">

    <li><a href="index.html">Home</a></li>

    <li><a href="personal.html">Personal</a></li>

    <li><a href="creativity.html">Creativity</a></li>

    <li><a href="tech.html">Tech</a></li>

    <li><a href="philosophy.html">Philosophy</a></li>

    <li><a href="religion.html">Religion</a></li>

    <li><a href="women.html">Women</a></li>

    <li><a href="travel.html">Travel</a></li>

    <li><a href="food.html">Food</a></li>

    <li><a href="sports.html">Sports</a></li>

    <li><a href="completed.html">Completed</a></li>

</ul>
